<div class="row">
    <div class="col-md-12">

     <form novalidate class="simple-form">
        Code: <input type="text" ng-model="category.name" /><br />
        Native Name: <input type="text" ng-model="category.nativeName" /><br />
        Language:     <select ng-model="category.language" ng-options="item.code as item.name for item in languages"></select>
        <input type="submit" ng-click="save(category)" value="Save" />
      </form>
  
      <ul ng-repeat="category in categories">
          <li>{{category.name}}</li>
      </ul>
    </div>
</div>